<form [formGroup]="userForm" (ngSubmit)="saveUser()">
  <article class="card" [id]="userForm.get('id')?.value">
    <div class="card-wrap-img">
      @if (userForm.get('picture')?.value){
      <img
        [src]="userForm.get('picture')?.value"
        class="card-img"
        alt="User Picture"
      />
      }
    </div>
    @if (editMode) {
    <div class="form-group">
      <button
        type="button"
        class="btn btn-outline-primary upload-btn"
        (click)="uploadPicture(userForm.get('id')?.value)"
      >
        Upload Picture
      </button>
      <input
        id="picture"
        type="file"
        (change)="onPictureSelected($event)"
        hidden
      />
    </div>

    }

    <div class="card-body">
      @if(!editMode){
      <!-- todo -->
      <div
        class="gap-3 d-flex justify-content-between align-items-center mb-4 mt-2"
      >
        <span class="fw-bold fs-5">{{ userForm.get("name")?.value }} </span>
        <span class="text-secondary">
          {{ userForm.get("age")?.value }} y.o
        </span>
      </div>
      }@else {
      <div class="gap-3 d-flex justify-content-between mb-4">
        <div class="form-group">
          <label for="name"> Name</label>
          <input
            id="name"
            type="text"
            formControlName="name"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                userForm.get('name')?.invalid && userForm.get('name')?.touched
            }"
          />
          @if(userForm.get('name')?.invalid && userForm.get('name')?.touched) {
          <div class="invalid-feedback">
            @if(userForm.get('name')?.errors?.['required']){
            <small>Field is required</small>
            }
          </div>
          }
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input
            id="age"
            type="number"
            formControlName="age"
            class="form-control"
            min="1"
            [ngClass]="{
              'is-invalid':
                userForm.get('age')?.invalid && userForm.get('age')?.touched
            }"
          />

          <div class="invalid-feedback">
            @if (userForm.get('age')?.invalid && userForm.get('age')?.touched) {
            <small *ngIf="userForm.get('age')?.errors?.['required']">
              Field is required
            </small>

            }
          </div>
        </div>
      </div>
      } @if (!editMode) {
      <div class="d-flex justify-content-between mt-auto">
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="removeUser()"
        >
          Remove
        </button>
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="enableEditMode()"
        >
          Edit
        </button>
      </div>
      } @else {
      <div class="d-flex justify-content-between mt-auto">
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="cancelEditMode($event)"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="btn btn-outline-primary"
          [disabled]="userForm.invalid"
        >
          Save
        </button>
      </div>
      }
    </div>
  </article>
</form>
