<header class="header">
  <div class="container">
    <a
      href="https://spribe.co/welcome"
      title="Go to the external website"
      class="header__link"
      target="_blank"
      ><img src="assets/img/logo.svg" alt="Logo"
    /></a>
  </div>
</header>

<div class="container">
  <div
    class="d-flex justify-content-between align-items-center gap-3 mt-4 mb-4"
  >
    <h1>Profiles</h1>
    <button
      [ngClass]="{ inc: isSortAscending }"
      class="btn btn-primary sort-user"
      (click)="sortUsersByAge()"
    >
      Sort
    </button>
    <button
      class="btn btn-primary"
      (click)="addNewUser()"
      [disabled]="isNewCardEditMode"
    >
      Add New
    </button>
  </div>

  <div class="row">
    @for (user of users; track user) {
    <div class="col-md-6 col-lg-4 col-xxl-3 mb-4">
      <app-user-card
        [user]="user"
        (save)="saveUser($event)"
        (edit)="editUser(user)"
        (remove)="removeUser($event)"
        (cancel)="cancelEditMode($event.user, $event.event)"
      >
      </app-user-card>
    </div>
    }
  </div>
</div>

<app-confirm-modal
  [title]="'Remove profile'"
  [message]="'Are you sure you want to remove this user profile?'"
  (confirm)="confirmRemoveUser()"
  (cancel)="cancelRemoveUser()"
></app-confirm-modal>
