<div class="container mt-4">
  <button class="btn btn-primary mb-3" (click)="addNewUser()">Add New</button>

  <div class="row">
    @for (user of users; track user) {
    <div class="col-md-4 mb-4">
      <app-user-card
        [user]="user"
        (save)="saveUser($event)"
        (edit)="editUser(user)"
        (remove)="removeUser($event)"
        (cancel)="cancelEditMode($event.user, $event.event)"
      >
      </app-user-card>
    </div>
    }
  </div>
</div>

<app-confirm-modal
  [title]="'Remove profile'"
  [message]="'Are you sure you want to remove this user profile?'"
  (confirm)="confirmRemoveUser()"
  (cancel)="cancelRemoveUser()"
></app-confirm-modal>
